In [1]:
import pandas as pd
import plotly
import plotly.express as px
import numpy as np
from Insurance_claiming_forecasting import insurance

In [2]:
path = 'data_heroku/data_siniestros.xlsx'

In [3]:
data = insurance.get_clean_data(path)

In [4]:
data

,status,insurance_type,disease,claim_type,provider_type,state,sex,age,country_id,amount,date_issue,age_range,h_type
0,PAGADO,COLECTIVO,Trastorno Interno De La Rodilla,CARTA AVAL,CLINICA,Distrito Capital,F,69,29,397,2020-12-11,60-69,Ambulatorio
1,PAGADO,COLECTIVO,Gonartrosis [Artrosis De La Rodilla],CARTA AVAL,CLINICA,Distrito Capital,M,76,29,457,2021-01-15,Mayor a 70,Ambulatorio
2,PAGADO,COLECTIVO,Trastorno Interno De La Rodilla,CARTA AVAL,CLINICA,Distrito Capital,F,69,29,188,2021-01-27,60-69,Ambulatorio
3,PAGADO,COLECTIVO,Traumatismo Superficial Del Hombro Y Del Brazo,CARTA AVAL,CLINICA,Distrito Capital,M,45,29,45,2019-11-11,40-49,Ambulatorio
4,PAGADO,COLECTIVO,Cervicalalgia/Hernia Discal,CARTA AVAL,CLINICA,Distrito Capital,F,54,29,30,2019-11-25,50-59,Ambulatorio
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183614,PAGADO,COLECTIVO,Hiperplasia De La Prostata,CARTA AVAL,CLINICA,Distrito Capital,M,81,29,8425,2021-02-04,Mayor a 70,Hospitalización
183615,PAGADO,COLECTIVO,Tumor Maligno De Los Bronquios Y Del Pulmon,EMERGENCIA,CLINICA,Distrito Capital,F,64,29,2000,2021-02-08,60-69,Hospitalización
183616,PAGADO,COLECTIVO,Fractura A Nivel De La Muñeca Y De La Mano,EMERGENCIA,CLINICA,Distrito Capital,F,51,29,7131,2021-02-10,50-59,Hospitalización
183617,PAGADO,INDIVIDUAL,Enfermedad De Valvulas Cardiacas:Mitral-Aortic...,CARTA AVAL,COMPRAS Y SUMINISTROS,Distrito Capital,M,67,15,36665,2019-07-22,60-69,Ambulatorio
183618,PAGADO,INDIVIDUAL,Tumor Maligno Del Utero,EMERGENCIA,AMBULANCIA,Distrito Capital,F,70,7,33215,2019-10-08,Mayor a 70,Ambulatorio

In [5]:
data['state'].unique()

array(['Distrito Capital', 'Miranda', 'Bolivar', 'Aragua', 'Zulia',
       'Carabobo', 'Nueva Esparta', 'Lara', 'Vargas', 'Falcon',
       'Trujillo', 'Anzoategui', 'Monagas', 'Portuguesa', 'Yaracuy',
       'Sucre', 'Merida', 'Barinas', 'Tachira', 'Guarico', 'Cojedes',
       'Apure', 'Delta Amacuro'], dtype=object)

In [5]:
data_geo = data.groupby('state', as_index=False).agg({'insurance_type': 'count'})

In [6]:
data_geo

               state  insurance_type
0         Anzoategui             898
1              Apure               6
2             Aragua            3150
3            Barinas             117
4            Bolivar             905
5           Carabobo            2730
6            Cojedes              16
7      Delta Amacuro               6
8   Distrito Capital          127055
9             Falcon             526
10           Guarico             140
11              Lara            2330
12            Merida             302
13           Miranda            1899
14           Monagas             740
15     Nueva Esparta             534
16        Portuguesa            1299
17             Sucre            3872
18           Tachira             875
19          Trujillo              74
20            Vargas             475
21           Yaracuy             182
22             Zulia            3120

In [7]:
data_geo.columns = ['ESTADO', 'total_claims_state']

In [8]:
data_geo

              ESTADO  total_claims_state
0         Anzoategui                 898
1              Apure                   6
2             Aragua                3150
3            Barinas                 117
4            Bolivar                 905
5           Carabobo                2730
6            Cojedes                  16
7      Delta Amacuro                   6
8   Distrito Capital              127055
9             Falcon                 526
10           Guarico                 140
11              Lara                2330
12            Merida                 302
13           Miranda                1899
14           Monagas                 740
15     Nueva Esparta                 534
16        Portuguesa                1299
17             Sucre                3872
18           Tachira                 875
19          Trujillo                  74
20            Vargas                 475
21           Yaracuy                 182
22             Zulia                3120

In [9]:
data_geo['lat'] = [8.567404676772563,
                  7.878238233915126,
                  10.258720213275376,
                  8.61894586475427,
                  8.126562318826902,
                  10.159406133026875,
                  9.623429349400682,
                  9.20174105540071,
                  10.484435654212977,
                  11.069474022921652,
                  9.96575806132416,
                  10.125741665641938,
                  8.571299723405597,
                  10.354125788585792,
                  9.776306241818299,
                  10.939135402894177,
                  9.059073585671939,
                  10.650849962356101,
                  7.965417850740996,
                  9.36784149927373,
                  10.58188981291398,
                  10.484801951464496,
                  10.261567855011007]

In [10]:
data_geo['long'] = [-64.9594684895549,
                   -67.46656917292137,
                   -67.58765538009972,
                   -70.2355519527175,
                   -63.58546158009323,
                   -68.02866395827277,
                   -68.91984348825437,
                   -61.93342649281256,
                   -66.90920609084017,
                   -69.7280547454928,
                   -67.47547242839347,
                   -69.34472426084402,
                   -71.18067836271413,
                   -66.92039424818014,
                   -63.22717426928289,
                   -64.01581657735747,
                   -69.2422779061641,
                   -62.728453958575756,
                   -72.14453585456303,
                   -70.42853311681279,
                   -66.67576664578135,
                   -68.78629970556295,
                   -72.48261768993409]

In [17]:
data_geo['ID'] = ['2',
                   '3',
                   '4',
                   '5',
                   '6',
                   '7',
                   '8',
                   '9',
                   '0',
                   '10',
                   '11',
                   '12',
                   '13',
                   '14',
                   '15',
                   '16',
                   '17',
                   '18',
                   '19',
                   '20',
                   '21',
                   '22',
                   '23']

In [18]:
data_geo.dtypes

ESTADO                 object
total_claims_state      int64
lat                   float64
long                  float64
ID                     object
dtype: object

In [13]:
data_geo['ID'] = data_geo['ID'].astype(str)

In [14]:
data_geo.dtypes

ESTADO                 object
total_claims_state      int64
lat                   float64
long                  float64
ID                     object
dtype: object

In [19]:
data_geo['state'] = data_geo['state'].str.upper()

In [20]:
data_geo

               state  total_claims_state        lat       long
0         ANZOATEGUI                 898   8.567405 -64.959468
1              APURE                   6   7.878238 -67.466569
2             ARAGUA                3150  10.258720 -67.587655
3            BARINAS                 117   8.618946 -70.235552
4            BOLIVAR                 905   8.126562 -63.585462
5           CARABOBO                2730  10.159406 -68.028664
6            COJEDES                  16   9.623429 -68.919843
7      DELTA AMACURO                   6   9.201741 -61.933426
8   DISTRITO CAPITAL              127055  10.484436 -66.909206
9             FALCON                 526  11.069474 -69.728055
10           GUARICO                 140   9.965758 -67.475472
11              LARA                2330  10.125742 -69.344724
12            MERIDA                 302   8.571300 -71.180678
13           MIRANDA                1899  10.354126 -66.920394
14           MONAGAS                 740   9.776306 -63.227174
15     NUEVA ESPARTA                 534  10.939135 -64.015817
16        PORTUGUESA                1299   9.059074 -69.242278
17             SUCRE                3872  10.650850 -62.728454
18           TACHIRA                 875   7.965418 -72.144536
19          TRUJILLO                  74   9.367841 -70.428533
20            VARGAS                 475  10.581890 -66.675767
21           YARACUY                 182  10.484802 -68.786300
22             ZULIA                3120  10.261568 -72.482618